<%- include('partials/header'); -%>

<!-- YEH challenge 5 tha isme humlog ko sirf about page ko /output oute par place karna hain  -->

<h1>ABOUT</h1>
<p> <%= aboutpagetext %></p>

<%- include('partials/footer'); -%>