<%- include('partials/header'); -%>

<!-- YEH challenge 5 tha isme humlog ko sirf contact page ko /contact oute par place karna hain  -->

<H1>CONTACT</H1>
<p> <%= contactpagetext %></p>

<%- include('partials/footer'); -%>