<%- include('partials/header'); -%>

<h1><%=title %></h1>

<p><%= component %></p>

<!-- yeh tha humlog ka challenge no. 19 isme parameter ke name ke according posts ke page par apneko
print karna tha ek normal sa title of post and post body -->

<%- include('partials/footer'); -%>